.list {
    width: 100%;
    background-color: #202020;
}

.list_none {
    display: none;
}

.list__container {
    max-width: 1280px;
    margin: 0 auto 0 auto;
}


.list__cards {
    margin: 0 70px 0 70px;
    padding: 75px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 24px;
    row-gap: 35px;
}

@media (max-width:850px) {
    .list__cards {
        margin: 0 30px 0 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        row-gap: 26px;
        padding-top: 67px;
        padding-bottom: 30px;
    }
}

@media (max-width:450px) {

    .list__cards {
        margin: 0 10px 0 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
        padding-bottom: 26px;
        padding-top: 41px;
    }

}