.profile {
    width: 100%;
    min-height: 100vh;
    background-color: #202020;
}

.profile__container {
    max-width: 410px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile__title {
    margin: 0;
    padding: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    padding-top: 74px;
    margin: 0 auto 113px auto;
}

.profile__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__input-name {
    font-size: 11px;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 13px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

.profile__input {
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    background-color: #202020;
    border: none;
    outline: none;
    text-align: end;
}

.profile__input-error {
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-style: normal;
    font-weight: normal;
    color: #EE3465;
    background-color: #202020;
    border: none;
    outline: none;
    text-align: end;
}

.profile__line {
    max-width: 410px;
    margin: 6px 0 0 0;
    border-top: #424242 1px solid;
    padding-bottom: 6px;
}

.profile__edit {
    padding: 0;
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    margin: 208px auto 16px auto;
    text-align: center;
    border: none;
    background-color: #202020;
}

.profile__edit:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.profile__exit {
    padding: 0;
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    color: #EE3465;
    margin: 0 auto 70px auto;
    /*padding-bottom: 70px;*/
    text-align: center;
    border: none;
    text-decoration: none;
    width: fit-content;
    background-color: #202020;
}

.profile__exit_none {
    display: none;
}

.profile__exit:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

.profile__save {
    padding: 0;
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    margin: 223px auto 50px auto;
    width: 410px;
    height: 45px;
    background-color: #3456f3;
    text-align: center;
    border: none;
}

.profile__save:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}

.profile__save_disable {
    padding: 0;
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: #c2c2c2;
    margin: 223px auto 50px auto;
    width: 410px;
    height: 45px;
    background-color: #f8f8f8;
    text-align: center;
}

.profile__exit_none {
    display: none;
}

.profile__edit_none {
    display: none;
}

.profile__edit-error {
    padding: 0;
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-style: normal;
    font-weight: normal;
    color: #FF004c;
    position: absolute;
    width: 410px;
    height: 13px;
    top: 490px;
    left: 0;
    text-align: center;
}

.profile__edit-error_none {
    display: none;
}

.profile__button {
    padding: 0;
    margin-top: 220px;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    width: 410px;
    height: 45px;
    background-color: #4285f4;
    border-radius: 3px;
    border: none;
    margin-bottom: 16px;
}

.profile__button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}


.profile__button_none {
    display: none;
}

.profile__button-disable {
    padding: 0;
    margin-top: 220px;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: #c2c2c2;
    text-align: center;
    width: 410px;
    height: 45px;
    background-color: #f8f8f8;
    border-radius: 3px;
    border: none;
    margin-bottom: 16px;
}



@media (max-width:850px) {
    .profile__title {
        margin-top: 162px;
        margin-bottom: 85px;
    }

    .profile__edit {
        margin-top: 200px;
    }

    .profile__edit-error {
        top: 620px;
    }
}



@media (max-width:450px) {
    .profile__container {
        max-width: 260px;
    }

    .profile__save {
        width: 260px;
    }

    .profile__title {
        padding-top: 70px;
        margin-top: 0;
        margin-bottom: 70px;
    }

    .profile__edit {
        margin-top: 370px;
        font-size: 12px;
        line-height: 14px;
    }

    .profile__exit {
        font-size: 12px;
        line-height: 14px;
    }

    .profile__button {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile__button-disable {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile__edit-error {
        top: 440px;
        width: 260px;
    }


}